<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title> APIKey Erzeugung </title>

        <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous" -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
          p { margin-left: 2em; }
          .content { margin-left: 2em; margin-top: 1em; }
  	  .bottom-three { margin-bottom: 3cm; }
  	  .bottom-one { margin-bottom: 1cm; }

          pre { margin-left: 4em; }
          table { margin-left: 2em; }

          h1 { font-size: 120%; margin-top: 1em; }
          h2 { font-size: 110%; margin-top: 1em; }
          h3 { font-size: 105%; margin-top: 1em; font-style: italic; }
          h4 { font-size: 100%; font-style: italic; }
        </style>
    </head>

    <body>
    <div class="content">
	<table width="90%">
	<tr> 
	<td width="80%">

	<h1> API-Keys für das E-Rezept erstellen </h1>

	<p>  Erzeugungzeit: {{ datum }} <br/> Schlüssel in base64 kodiert: </p>
	<pre>{{ data_base64 }}</pre>
	<p> Hexdezimal = {{data_hex}}, Dezimal = {{data_int}} </p>

	<p> Bei jedem Neuladen dieser Seite (F5-Taste drücken) wird ein neuer Zufallswert erzeugt. </p>

	<p> 
	Für die API-Keys-Erstellung für das E-Rezept müssen API-Keys mit ausreichendes Entropie erzeugt werden. 
	Wir wollen, dass (fast) alle Schlüssel eine Entropie von 120 Bit besitzen.
	Wir wählen das Erzeugungsverfahren aus der 
	<a href="https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR02102/BSI-TR-02102.pdf?__blob=publicationFile&v=2">Technischen Richtlinie 02102-1, Abschnitt 9.5.1</a>.
	</p>

	<p> Bei Rückfragen Christian Albrecht oder ihren Lieblingskryptographen (Durchwahl -285) kontaktieren. </p>
	</p>

	</td> 
	<td valign="top"> 
		<img alt="gematik-logo" height="88" width="404" src="/gematik-logo.png">
	</td>
	</tr>
	 </table>
    </div>
    </body>
</html>


